$version-string: "__VERSION_STRING__";

//Spacing sizes
$general-spacing:1em;
//

//Colors
$text-color: #333333;
$link-color: #0072ff;
$visited-color: $link-color;
$hover-color: $link-color;

	//Brand colors
	
	//
//